.navbar.navbar-fixed-top
    .container
        //
           .btn-navbar is used as the toggle for collapsed navbar content 
        button.navbar-toggle(data-target='.navbar-responsive-collapse', data-toggle='collapse', type='button')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          img(src='images/logo.png', alt='Your Logo')
        .nav-collapse.collapse.navbar-responsive-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Services
                strong.caret
              ul.dropdown-menu
                li
                  a(href='#') Web Design
                li
                  a(href='#') Web Development
                li
                  a(href='#') SEO
                li.divider
                li.dropdown-header More Services
                li
                  a(href='#') Content Creation
                li
                  a(href='#') Social Media Marketing
              //
                 end dropdown-menu 
          form.navbar-form.pull-left
            input#searchInput.form-control(type='text', placeholder='Search this site...')
            button.btn.btn-default(type='submit')
              span.glyphicon.glyphicon-search
          //
             end navbar-form 
          ul.nav.navbar-nav.pull-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-user
                | My Account
                strong.caret
              ul.dropdown-menu
                li
                  a(href='#')
                    span.glyphicon.glyphicon-wrench
                    | Settings
                li
                  a(href='#')
                    span.glyphicon.glyphicon-refresh
                    | Update Profile
                li
                  a(href='#')
                    span.glyphicon.glyphicon-briefcase
                    | Billing
                li.divider
                li
                  a(href='#')
                    span.glyphicon.glyphicon-off
                    | Sign out
          //
             end nav pull-right 
        //
           end nav-collapse 
      //
         end container 
    //
       end navbar 
