#bigCallout.row
    .col-12
        #successAlert.alert.alert-success.alert-block.fade.in
          button.close(type='button', data-dismiss='alert') ×
          h4 Success!
          p
            | You just made this element display by using jQuery. Click the "x" in the top right corner to close this bad boy.
        //
           end alert 
        //
           Visible only on small devices 
        .well.well-small.visible-sm
          a.btn.btn-large.btn-block.btn-default(href='')
            span.glyphicon.glyphicon-phone
            | Give us a call!
        //
           end well-small 
        .well
          .page-header
            h1
              | A Fancy Header
              small A subheader for extra awesome.
          //
             end page-header 
          p.lead
            | Some solid leading copy will help get your users engaged. Use this area to come up with something real nice. Know what I'm sayin?
          a#alertMe.btn.btn-large.btn-primary(href='') Click a nice big button
          a.btn.btn-large.btn-link(href='') or a secondary link
        //
           end well 
      //
         end col-12 
    //
       end bigCallout 
