#featuresHeading.row
    .col-12
        h2 More Features
        p.lead
          | Cornhole kitsch Williamsburg pug bicycle rights vegan. Neutra food truck occupy kitsch sustainable.
      //
         end col-12 
    //
       end featuresHeading 
    #features.row
      .col-sm-4.feature
        .panel
          .panel-heading
            h3.panel-title Markup with HTML5
          //
             end panel-heading 
          img.img-circle(src='images/badge_html5.jpg', alt='HTML5')
          p
            | 90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
          a.btn.btn-warning.btn-block(href='https://www.udemy.com/build-beautiful-html5-website/', target='_blank') Learn to code HTML5
        //
           end panel 
      //
         end feature 
      .col-sm-4.feature
        .panel
          .panel-heading
            h3.panel-title Style with CSS3
          //
             end panel-heading 
          img.img-circle(src='images/badge_css3.jpg', alt='CSS3')
          p
            | 90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
          a.btn.btn-danger.btn-block(href='https://www.udemy.com/build-beautiful-html5-website/', target='_blank') Style it up with CSS3
        //
           end panel 
      //
         end feature 
      .col-sm-4.feature
        .panel
          .panel-heading
            h3.panel-title Framework by Bootstrap 3
          //
             end panel-heading 
          img.img-circle(src='images/badge_bootstrap.jpg', alt='Bootstrap 3')
          p
            | 90's authentic single-origin coffee stumptown Pinterest. Fap aesthetic dreamcatcher pickled Brooklyn irony.
          a.btn.btn-info.btn-block(href='http://getbootstrap.com/', target='_blank') More Bootstrap
        //
           end panel 
      //
         end feature 
    //
       end features 
