.tabbable
    ul.nav.nav-tabs
        li.active
          a(href='#tab1', data-toggle='tab') Section 1
        li
          a(href='#tab2', data-toggle='tab') Section 2
      .tab-content
        #tab1.tab-pane.active
          h4
            span.glyphicon.glyphicon-map-marker
            | Our Location
            small More like our favourite surf spot
          iframe(width='100%', height='200', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://maps.google.ca/maps?f=q&source=s_q&hl=en&geocode=&q=waikiki+beach&aq=&sll=19.896766,-155.582782&sspn=8.711424,11.854248&ie=UTF8&hq=&hnear=Waikiki+Beach,+Honolulu,+Hawaii,+United+States&t=m&ll=21.277298,-157.8265&spn=0.015996,0.036478&z=14&output=embed')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        //
           end tab-pane 
        #tab2.tab-pane
          h4
            | A Left Floated Picture
            small Using Placehold.it
          img.thumbnail.pull-left(src='http://placehold.it/140', alt='Placeholder image')
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          hr
          a.btn.btn-warning(href='#myModal', role='button', data-toggle='modal')
            span.glyphicon.glyphicon-hand-up
            | Click for a Modal Window!
        //
           end tab-pane 
      //
         end tab-content 
    //
       end tabbable 
