#myModal.modal.fade
    .modal-dialog
        .modal-content
          .modal-header
            button.close(data-dismiss='modal') ×
            h4.modal-title A Modal Window
          //
             end modal-header 
          .modal-body
            h4 Text in a modal
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            h4 Popovers in a modal
            a.btn.btn-danger.pop(href='#', data-toggle='popover', data-placement='top', data-original-title='You clicked it!', data-content='I knew you would.') Don't click this button
            h4 Tooltips in a modal
            a(href='', data-original-title='Tooltip', rel='tooltip') This link
            | should have a tooltip, and so should
            a(href='#', data-original-title='Woohoo!', rel='tooltip') this one
            | !
            hr
            p
              small.text-muted PS. This form doesn't do anything. Just a heads up.
            form.form-horizontal
              .form-group
                label.col-lg-2.control-label(for='inputName') Name
                .col-lg-10
                  input#inputName.form-control(placeholder='Name', type='text')
              .form-group
                label.col-lg-2.control-label(for='inputEmail') Email
                .col-lg-10
                  input#inputEmail.form-control(placeholder='Email', type='email')
              .form-group
                label.col-lg-2.control-label(for='inputMessage') Message
                .col-lg-10
                  textarea#inputMessage.form-control(placeholder='Message', rows='3')
                  button.btn.btn-success.pull-right(type='submit') Send!
          //
             end modal-body 
          .modal-footer
            button.btn.btn-default(data-dismiss='modal', type='button') Close
            button.btn.btn-primary(type='button') Save changes
          //
             end modal-footer 
        //
           end modal-content 
      //
         end modal-dialog 
    //
       end myModal 
