#moreCourses.row
    .col-12
        h3 Learn more about Web Design
        .thumbnails.row
          .col-6
            .thumbnail
              img(src='images/item_psd2html5.jpg', alt='PSD to HTML5 & CSS3')
              .label.label-success.price
                span.glyphicon.glyphicon-tag
                sup $
                | 39
              .caption
                h3 PSD to HTML5 & CSS3
                p
                  | Learn how to take a PSD and turn it into a beautiful, hand-coded HTML5 & CSS3 website with this web design crash course.
                p
                  a.btn.btn-primary.btn-small(href='https://www.udemy.com/build-beautiful-html5-website/', target='_blank') Take course
                  a.btn.btn-small.btn-link(href='https://www.udemy.com/build-beautiful-html5-website/', target='_blank') Learn more
              //
                 end caption 
            //
               end thumbnail 
          //
             end col-6 
          .col-6
            .thumbnail
              img(src='images/item_webhosting101.jpg', alt='Web Hosting 101')
              .label.label-info.price
                span.glyphicon.glyphicon-tag
                | Free
              .caption
                h3 Web Hosting 101
                p
                  | Learn how to publish your own website live in no time with this web hosting crash course. Plus setup your first Wordpress site in 5-minutes!
                p
                  a.btn.btn-primary.btn-small(href='https://www.udemy.com/web-hosting-101/', target='_blank') Take course
                  a.btn.btn-small.btn-link(href='https://www.udemy.com/web-hosting-101/', target='_blank') Learn more
              //
                 end caption 
            //
               end thumbnail 
          //
             end col-6 
        //
           end row 
      //
         end col-12 
    //
       end moreCourses 
