footer
    .container
        .row
          .col-sm-2
            h6 Copyright © 2013 {name}
          //
             end col-sm-2 
          .col-sm-4
            h6 About Us
            p
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          //
             end col-sm-4 
          .col-sm-2
            h6 Navigation
            ul.unstyled
              li
                a(href='#') Home
              li
                a(href='#') Services
              li
                a(href='#') Links
              li
                a(href='#') Contact
          //
             end col-sm-2 
          .col-sm-2
            h6 Follow Us
            ul.unstyled
              li
                a(href='#') Twitter
              li
                a(href='#') Facebook
              li
                a(href='#') Google Plus
          //
             end col-sm-2 
          .col-sm-2
            h6
              | Coded with
              span.glyphicon.glyphicon-heart
              | by Brad
          //
             end col-sm-2 
        //
           end row 
      //
         end container 
